.description {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #eee;
	padding: 20px;
	border-radius: 10px;
}

#sign-up, #sign-in {
	display: none;
}

#sign-up-form {
	width: 700px;
	margin: auto;
}

#sign-in-form {
	width: 400px;
	margin: auto;
}

.form-title {
	font-size: 2.5em;
}